
@out-of-range-color: lighten(#333, 50%);

@calendar-border: #DDD;
@cell-border: #DDD;

@border-color: #CCC;

@segment-width: percentage(1 / 7);

@selection-color: white;
@selection-bg-color: #000;


@event-bg: #3174ad;
@event-border: darken(#3174ad, 10%);
@event-color: #fff;
@event-border-radius: 5px;
@event-padding: 2px 5px;
@event-zindex: 4;

@btn-color: #373a3c;
@btn-bg: #fff;
@btn-border: #ccc;

@rbc-css-prefix: rbc-i;
