html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*------------------------------------------------------------------------------
 *  BP Custom CSS
 *----------------------------------------------------------------------------*/
body {
  overflow-x: visible !important;
  box-sizing: content-box; }

body * {
  box-sizing: border-box; }

#buddypress #whats-new-form {
  margin-top: 20px; }

#buddypress form#whats-new-form textarea {
  height: 30px;
  width: 100%; }

#buddypress #mass-message-form {
  padding-bottom: 30px;
  padding-top: 30px; }
  #buddypress #mass-message-form .activity-greeting {
    margin: 0 0 10px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 600; }
  #buddypress #mass-message-form textarea {
    height: 183px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-family: inherit; }
    #buddypress #mass-message-form textarea:focus {
      border-color: rgba(31, 179, 221, 0.9) !important;
      outline-color: rgba(31, 179, 221, 0.9);
      -moz-box-shadow: 0 0 7px rgba(31, 179, 221, 0.7);
      -webkit-box-shadow: 0 0 7px rgba(31, 179, 221, 0.7);
      box-shadow: 0 0 7px rgba(31, 179, 221, 0.7); }
  #buddypress #mass-message-form .error textarea {
    background: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38; }
  #buddypress #mass-message-form #mass-message-options {
    margin-top: 12px;
    text-align: right; }

#buddypress #aw-whats-new-submit {
  margin-right: 0; }

#buddypress div#item-nav {
  position: initial;
  width: 100%;
  max-width: 100%; }

#buddypress div#item-body {
  width: 100%;
  padding-top: 100px; }

.message-box .message-star-actions {
  display: inline-block; }

.buddypress.home .entry-header, .buddypress.home article {
  display: block !important; }

.picker--opened .picker__holder {
  max-height: 29em !important;
  overflow: hidden; }

.event-react-block .ui.grid .column.event-type {
  width: 5% !important; }

.event-react-block .ui.grid .column.event-info {
  width: 45% !important;
  padding-left: 40px; }

.lckrm-upcoming-events .event-react-block .ui.grid .column.event-info {
  padding-left: 20px; }

.event-react-block .ui.grid .column.event-attending {
  width: 25% !important;
  padding-left: 40px; }

.event-react-block .ui.grid .column.event-rsvp {
  width: 25% !important;
  padding: 40px; }

.event-react-block .week-day {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px; }

.delete-single-event .popup {
  text-align: center; }

.event-form .date-picker {
  padding-left: 7px;
  font-size: 18px; }

a.ui.image.label.signed-member {
  display: block;
  padding: 10px;
  margin-bottom: 7px; }

.sp-event-logos {
  font-size: 24px;
  font-family: 'Fjalla One'; }

.event-created .centered-success {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.event-created i.fa.fa-check-circle {
  font-size: 40px;
  color: #008000; }

.event-created p {
  margin: 0; }

.event-created h3 {
  margin: 5px 0; }

.grid .widget-area {
  float: none;
  width: 100%; }

div#calendar-body.players {
  margin-top: 40px; }

.cheat.left.icon.input .phone.icon {
  left: auto;
  right: 1px; }

/* div.twelve.wide.column article {
	background: #fff !important;
	border: solid 2px #E4E4E4 !important;
} */
div.twelve.wide.column {
  background: #fff !important;
  border: solid 2px #E4E4E4 !important; }

.event-react-block a.ui.large.circular {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

#main .four.wide.column.mobile {
  padding-top: 0 !important; }

@media screen and (max-width: 900px) {
  #main-wrap .four.wide.column.mobile {
    display: none; }
  #main-wrap .twelve.wide.column.mobile {
    width: 100% !important; }
  .event-react-block .mobile {
    width: 100%; } }

@media screen and (max-width: 720px) {
  #buddypress .invite-group-members .column, #buddypress .invite-group-members .column .input {
    width: 100% !important;
    margin-bottom: 10px; }
  #content .entry-content {
    padding: 0 !important; } }

#event_single_block {
  margin-top: 30px; }
  #event_single_block .rsvp-lists {
    float: right; }

#event_react_container .submit-event {
  width: 100%; }

#event_react_calendar .previous-date.mobile, #event_react_calendar .next-date.mobile {
  display: none; }

@media screen and (max-width: 768px) {
  .event-form .mobile {
    display: block !important; }
  .event-form .desktop {
    display: none !important; }
  #buddypress .groups #groups-list li img.avatar {
    width: 100% !important; }
  #page .ui.grid > *, #page .ui.grid {
    margin: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important; }
  #react_group_members .thirteen.wide.column {
    width: 60% !important; }
  #react_group_members .three.wide.column {
    width: 40% !important; }
  #event_react_calendar .event-date-pagi .next-date.desktop {
    display: none; }
  #event_react_calendar .event-date-pagi .next-date.mobile {
    display: inline-block; }
    #event_react_calendar .event-date-pagi .next-date.mobile i {
      font-size: 21px;
      padding-right: 30px; }
  #event_react_calendar .event-date-pagi .previous-date.desktop {
    display: none; }
  #event_react_calendar .event-date-pagi .previous-date.mobile {
    display: inline-block; }
    #event_react_calendar .event-date-pagi .previous-date.mobile i {
      font-size: 21px;
      padding-right: 30px; }
  #event_react_calendar .event_react_calendar .event-type {
    padding-left: 7px !important; }
  #event_react_calendar .react-big-calenadr .detachable-event-title {
    display: none; }
  #calendar-body .event-created .success .two.wide.column {
    width: 15% !important;
    padding-left: 10px !important; }
  #calendar-body .event-created .success .twelve.wide.column {
    width: 75% !important;
    padding-left: 20px !important; } }

@media screen and (min-width: 768px) {
  .event-form .mobile {
    display: none !important; }
  .event-form .desktop {
    display: flex; }
  /* Group Cover img */
  #buddypress #item-header-cover-image #item-header-avatar {
    margin-top: 230px; }
  .cover-photo-on.single-item.groups .entry-header, .cover-photo-on.bp-user .entry-header {
    margin-top: 226px; }
  .cover-photo-on.single-item.groups .entry-header h1, .cover-photo-on.bp-user .entry-header h1 {
    margin-left: 35px; }
  #buddypress #item-header-cover-image .team-events-info div span, #buddypress #item-header-cover-image .team-events-info div a, #buddypress #item-header-cover-image .team-events-info div a i {
    color: black !important; }
  #buddypress #item-header-avatar.image-wrap a {
    max-height: 195px;
    height: 255px;
    overflow: hidden;
    display: block;
    background-size: contain;
    background-position: center;
    border: solid 2px #FFF !important;
    margin-right: 10px;
    float: left;
    margin: -12px 15px 19px 30px;
    max-width: 136px;
    width: 175px; }
  #buddypress #item-header-content div.venue a {
    color: #4183c4 !important;
    text-decoration: underline; } }

.event_react_calendar .the-calendar {
  width: 100%;
  margin: 0 auto; }

.lckrm-upcoming-events.widget {
  background: #fff;
  border: solid 2px #E4E4E4;
  padding: 15px; }
  .lckrm-upcoming-events.widget .event-react-block.widget .ui.grid .column.event-type {
    width: 15% !important;
    float: left; }
  .lckrm-upcoming-events.widget .event-react-block.widget .ui.grid .column.event-info {
    width: 85% !important;
    float: left;
    background: none !important;
    border: none !important;
    padding-right: 0px; }
    .lckrm-upcoming-events.widget .event-react-block.widget .ui.grid .column.event-info h3 {
      margin-bottom: 0px; }
    .lckrm-upcoming-events.widget .event-react-block.widget .ui.grid .column.event-info p {
      margin-bottom: 5px; }
  .lckrm-upcoming-events.widget .event-react-block.widget:last-child {
    border-bottom: none !important;
    padding-bottom: 0; }

#change_username_submit {
  display: none; }

#wpadminbar .quicklinks .menupop ul li {
  clear: both !important; }

#wpadminbar .ui.grey.circular.label {
  height: auto;
  width: auto;
  margin: 0;
  position: static;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 13px;
  line-height: 1em;
  font-weight: 400;
  border-radius: 500rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-font-smoothing: subpixel-antialiased; }

#react_group_members {
  margin: 40px 0 40px; }
  #react_group_members .group-members > .ui.grid {
    border-width: 1px;
    border-style: solid;
    border-color: #a8a8a8;
    border-bottom: none; }
    #react_group_members .group-members > .ui.grid:last-child {
      border-bottom: 1px solid #a8a8a8; }
  #react_group_members .ui.tiny.image {
    width: 50px;
    height: 50px; }
  #react_group_members .user-nick {
    margin-left: 10px;
    font-size: 20px; }
  #react_group_members .send-text, #react_group_members .send-mail {
    position: absolute;
    top: 50%;
    transform: translateY(7%);
    width: 44px;
    height: 43px;
    color: #2185D0;
    background: #FFF;
    border: 1px solid #2185D0; }
    #react_group_members .send-text .icon, #react_group_members .send-mail .icon {
      font-size: 35px;
      margin: 3px -11px; }
    #react_group_members .send-text.active, #react_group_members .send-mail.active {
      color: #ffffff;
      background: #2185D0; }
  #react_group_members .ui.form {
    width: 100%;
    margin-bottom: 10px;
    display: none; }

@media screen and (max-width: 570px) {
  #single-event-body .event-react-block {
    height: auto; }
  .event-react-block {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    height: 165px; }
    .event-react-block .ui.grid .column.event-type {
      width: 13% !important; }
  .four.wide.column.event-rsvp {
    position: relative;
    left: 74%;
    bottom: 50px; }
  .event-attending .value {
    font-size: 3rem !important; }
  .picker__holder {
    left: -265px !important; }
  #event_react_calendar .event-date-pagi {
    padding: 10px 5px 0 0 !important; } }

@media screen and (min-width: 721px) {
  #wpadminbar .ui.grey.circular.label {
    padding: 0 !important; } }

#event_rsvp_lists {
  margin-top: 25px;
  margin-bottom: 25px; }
  #event_rsvp_lists .attending-members > :first-child, #event_rsvp_lists .not-attending-members > :first-child, #event_rsvp_lists .not-rsvpd-members > :first-child {
    text-align: center; }
  #event_rsvp_lists .attending-members, #event_rsvp_lists .not-attending-members, #event_rsvp_lists .not-rsvpd-members {
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    padding: 10px; }
  #event_rsvp_lists .item.show_more {
    text-align: center;
    padding-top: 10px; }

.export-calendar {
  text-align: initial !important;
  margin-bottom: 0; }
  .export-calendar .item a {
    color: #000;
    padding: 10px; }

#calendar-body .events-list {
  margin-top: 25px; }

#event_react_calendar .react-big-calenadr {
  height: 610px;
  position: relative; }
  #event_react_calendar .react-big-calenadr .rbc-event {
    cursor: auto;
    padding: 3px 5px;
    background-color: #ffffff;
    border-radius: 0px;
    color: #fff; }
    #event_react_calendar .react-big-calenadr .rbc-event a {
      width: 100%;
      padding: 7px 2px 7px 2px;
      font-size: 0.77rem;
      text-align: center; }
  #event_react_calendar .react-big-calenadr .rbc-date-cell.rbc-now a {
    color: #2185D0; }
  #event_react_calendar .react-big-calenadr .rbc-row-segment .rbc-event-content {
    overflow: visible; }

.single-sp_event .entry-header {
  margin-top: 0;
  margin-bottom: 25px !important; }

.thumbtitle {
  min-height: 60px; }

#events_slider .event-block {
  width: 350px;
  float: left; }

/*------------------------------------------------------------------------------
 *  Activity
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Activity / Single
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Blogs
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Forums
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Groups
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Groups / Single
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members / Single
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members / Single / Forums
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members / Single / Friends
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members / Single / Groups
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members / Single / Messages
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members / Single / Notifications
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members / Single / Profile
 *----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
 *  Members / Single / Settings
 *----------------------------------------------------------------------------*/
